.toolbar {
	position: fixed;
	right: 0px;
	bottom: 300px;
}


/*å‡è®¾ç½‘é¡µå®½åº¦ä¸º1200pxï¼Œå¯¼èˆªæ¡åœ¨å³ä¾§æ‚¬æµ®*/

.toolbar-item-qq {
	background: #999999 url(http://static.9891.com/common/right/back_qq.png) no-repeat 12px 10px;
}

.toolbar-item-qq:hover {
	background: #ff4747 url(http://static.9891.com/common/right/right_03.png) no-repeat  center center;
	cursor: pointer;
}

.toolbar-item-phone {
	background: #999999 url(http://static.9891.com/common/right/back_phone.png) no-repeat 12px 10px;
}

.toolbar-item-phone:hover {
	background: #ff4747 url(http://static.9891.com/common/right/right_09.png) no-repeat  center center;
	cursor: pointer;
}

.toolbar-item-feed {
	background:#999999 url(http://static.9891.com/common/right/back_yj.png) no-repeat 12px 10px;
}

.toolbar-item-feed:hover {
	background: #ff4747 url(http://static.9891.com/common/right/right_13.png) no-repeat  center center;
	cursor: pointer;
}

.toolbar-item-app {
	background:#999999 url(http://static.9891.com/common/right/back_ewm.png) no-repeat 12px 10px;
}

.toolbar-item-app:hover {
	background: #ff4747 url(http://static.9891.com/common/right/right_17.png) no-repeat  center center;
	cursor: pointer;
}

.toolbar-item-app .toolbar-layer {
	height: 194px;
	background-position: 0 -222px;
}

.toolbar-item-deng {
	background: #999999 url(http://static.9891.com/common/right/back_deng.png) no-repeat 12px 10px;
}

.toolbar-item-deng:hover {
	background: #ff4747 url(http://static.9891.com/common/right/right_21.png) no-repeat  center center;
	cursor: pointer;
}

.toolbar-item-top {
	background: #999999 url(http://static.9891.com/common/right/back_top.png) no-repeat 12px 10px;
}

.toolbar-item-top:hover {
	background: #ff4747 url(http://static.9891.com/common/right/right_25.png) no-repeat center center;
	cursor: pointer;
}

.toolbar-layer {
	position: absolute;
	right: 40px;
	top: 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-transform: scale(0.01);
	-ms-transform: scale(0.01);
	-o-transform: scale(0.01);
	-webkit-transform: scale(0.01);
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.toolbar-item {
	display: block;
	width: 40px;
	height: 40px;
	margin-top: 1px;
	position: relative;
}

.toolbar-item:hover .toolbar-layer {
	opacity: 1;
	filter: alpha(opacity=100);
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

@media screen and (max-width: 1300px) {
	.toolbar{
		display: none;
	}
}

/*åˆ†é¡µpageGroup*/

.pagination {
	width: 700px;
	margin: 20px auto;
	text-align: center !important;
	overflow: hidden;
	max-width: 700px;
}

.pagination li {
	width: 32px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
	display: inline-block;

	font-size: 14px;
}
li.active{
	background: #FF4747;
	border:1px solid #FF4747;


}
.pagination li:first-child{
	margin-right: -5px;
}
.pagination li:last-child{
	margin-left: -5px;
	border-right: 1px solid #ddd;
}
.pagination li.active span{
	color:#ffffff;
}
.pagination li.active:hover{
	background: #ff4747;
	border:1px solid  #ff4747;
}
.pagination li a{
	display: inline-block;
	width:30px;
	height:30px;
	color: #333;
}
.pagination li:hover{
	background: #f0f0f0;



}

.pagination li span{
	color: #aaa;
	font-size: 14px;
}

